
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <%= image_tag 'tree_logo_sm.png', class: "img-fluid"%>
    <h3 class="navbar-brand text-center brand" id="gfl_main_title">Greener Family Living </h3>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <%= link_to 'Home', home_posts_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'About', page_path("about"), class: "nav-link"%>
            </li>
            <li class="nav-item">
                <%= link_to 'Blog', posts_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Shop</a>
            </li>
        </ul>
        
        <p class="navbar-text pull-right pt-4 mx-3">
            <% if user_signed_in? %>
                <!--Logged in as <strong><%= current_user.email %></strong>.-->
                <button class="btn btn-sm btn-outline-success" type="button">Admin</button>
                <!--<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> -->
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link disabled'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </p>
        <!-- Twitter follow Button -->
        <a href="https://twitter.com/FamilyGreener?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @FamilyGreener</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <!-------------------------->
  </div>
</nav>