 



<div id="sign_in" class="text-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-signin") do |f| %>
      <!--img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"-->
      <%= image_tag 'tree_logo_sm.png', class: "img-fluid", alt: "", width: "72", height: "72"%>
      <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
      <%= f.label :email, class: "sr-only"%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address"%>
      <%= f.label :password, class: "sr-only" %><br />
      <%= f.password_field :password, autocomplete: "current-password", id: "inputPassword", class: "form-control", placeholder: "Password" %>
      <div class="checkbox mb-3">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
      </div>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block"%>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; Basixs.co.uk 2019</p>
      <!-----------------------------------------------------------------
        Links to Sign Up & Change Password - Email mailer not yet set up
      <%= render "devise/shared/links" %>
      ------------------------------------------------------------------->
    <% end %>
  </div>