<%= form_with(model: post, local: true, :html => {multipart: true}) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <% post.errors.full_messages.each do |message| %>
        <p class="alert alert-danger" style="list-style-type: none;"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>


  <div class='field'>
    <%= image_tag(@post.image.thumb.url) if @post.image? %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
    <p>
    <label>
      <%= form.check_box :remove_image %>
      Remove Image
    </label>
  </p>

    <%= form.file_field :attachments, multiple: true %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
