<div class = container>
 <%= render 'shared/category_src' %>
 <!-- Nil check required --> 
 <% unless @posts[0].nil? %>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
  <div class="row mb-2">
    <div class="col-lg-6 col-md-6 px-3">
      <h1 class="display-4 font-italic"><%=@posts[0].title%></h1>
      <p class="lead my-3"><%=@posts[0].lead%></p>
      <p class="lead mb-0"><%=link_to 'Continue reading...', @posts[0], class:"text-white" %></p>
    </div>
    <div class="col-lg-6 col-md-6 px-0">
      <% if @posts[0].attachments? %>
          <%= image_tag(@posts[0].attachments[0].cover_full.url, alt: 'Image', class: 'img-fluid rounded mx-auto d-block')%>
      <% end %>
    </div>
  </div>
  </div>
  <%end%>
  
  <div class="row mb-2">
    <% unless @posts[1].nil? %>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary"><%= Category.find_by(id: @posts[1].category_id).name%></strong>
          <h3 class="mb-0">
            <%=link_to @posts[1].title, @posts[1], class:"text-dark" %>
          </h3>
          <div class="mb-1 text-muted"><%=@posts[1].created_at.strftime("%b %y")%></div>
          <p class="card-text mb-auto"><%=@posts[1].lead%></p>
          <p class="lead mb-0"><%=link_to 'Continue reading...', @posts[1], class: "text-dark"%></p>
        </div>
        <!-- <% if @posts[1].attachments?%>
          <%= image_tag(@posts[1].attachments[0].thumb.url, alt: 'Image', class: 'card-img-right flex-auto d-none d-md-block')%>
        <%end%>
        <!--img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap"-->
      </div>
    </div>
    <%end%>
    <% unless @posts[2].nil? %>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success"><%= Category.find_by(id: @posts[2].category_id).name%></strong>
          <h3 class="mb-0">
            <%=link_to @posts[2].title, @posts[2], class:"text-dark" %>
          </h3>
          <div class="mb-1 text-muted"><%=@posts[2].created_at.strftime("%b %y")%></div>
          <p class="card-text mb-auto"><%=@posts[2].lead%></p>
          <p class="lead mb-0"><%=link_to 'Continue reading...', @posts[2], class: "text-dark"%></p>
        </div>
        <!--img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap"-->
      </div>
    </div>
    <% end %>
  </div>
  
  <!-- Nil check required -->
  
  <h3>Posts</h3>
  <% if user_signed_in?%>
    <%= link_to 'New Post', new_post_path, class:"btn btn-lg btn-outline-success btn-block mx-auto d-block" %>
  <% end %>
  <div class='list-group'>
  <% @posts.each do |post| %>
    <div class = 'list-group-item list-group-item-action'>
      
        <div class='row'>
          <div class='col-6 '>
            <%=link_to post.title, post, class:"text-dark text-center" %>
          </div>
          <% if user_signed_in? %>
            <div class='col-3'><%= link_to 'Edit', edit_post_path(post), class:"btn btn-lg btn-outline-success btn-block" %></div>
            <div class='col-3'><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-lg btn-outline-success btn-block" %></div>
          <%end%>
        </div>
      
    </div>
  <%end%>
  </div>
</div>  
<br>
