<div class='container'>

  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="row mb-2">
      <div class="col-lg-6 col-md-6 px-0">
        <h1 class="display-4 font-italic"><%=@post.title%></h1>
        <p class="lead my-3"><%=@post.lead%></p>
        <div class="mb-1 text-muted"><%=@post.created_at.strftime("%b %y")%></div>
          <p class="card-text mb-auto">Written by: <%=@post.author%></p>
      </div>
      <div class="col-lg-6 col-md-6 px-0">
        <% if @post.attachments? %>
            <%= image_tag(@post.attachments[0].cover_full.url, alt: 'Image', class: 'img-fluid rounded mx-auto d-block')%>
        <% end %>
      </div>
    </div>
  </div>
  <% if @post.attachments? %>
      <% @post.attachments.each do |attachment| %>
        <li style='list-style-type: none;' class='d-inline'><%= link_to(image_tag(attachment.thumb.url, alt: 'Image', class: 'img-fluid img-thumbnail'), attachment.url, target: '_blank') %></li>
      <% end %>
  <% end %>  
  <%= simple_format(RedCloth.new(@post.content).to_html) %>
  <%= link_to 'Back', posts_path, class:"btn btn-outline-success py-1" %>
  
  <% if user_signed_in?%>
    <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-outline-success d-inline py-1" %>
  <%end%>

  <div class='p-3'></div>
</div>
